{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
        $('.slider').bxSlider({
            mode: 'fade',//horizontal, vertical, fade
            auto: true,
            pause: 2000
        });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block contenido %}
<br>
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner3.png' %}" alt="">
    </div>
</div>

{% load humanize %}

<br>
<br>
<div class="productos">
    {% for p in productos %}
    <div class="producto">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded ml-4 mr-4">
                <div class="card-header card-header-second rounded">
                    <br>
                    <h2 class="card-header-title mb-3 mt-1 text-white">{{ p.nombre | title }}</h2>
                </div>
                <div class="card-body text-center">
                    {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" alt="imagen producto">
                    {% endif %}
                    <br>
                    <h5 class="card-text">{{ p.marca | capfirst }}</h5>
                    <h2 class="card-text">${{ p.precio | intcomma}}</h2>    
                    <a href="{% url 'info_producto' p.id %}" class="btn btn-lg btn-secondary">Mas Info.</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}        
</div>

{% endblock %}